In [ ]:
# Here we have collected data on the dependence of the exponent
#    calculation time on the number of processes and the number of digits

In [ ]:
import pandas as pd

In [7]:
data = pd.DataFrame([
    [300,    0.000544, 0.000478, 0.000505, 0.000586, 0.000615, 0.000620, 0.004083, 0.001147],
    [3000,   0.008348, 0.006484, 0.005534, 0.005812, 0.005594, 0.005938, 0.006376, 0.008077],
    [30000,  0.585243, 0.462652, 0.403780, 0.405915, 0.428871, 0.463749, 0.508950, 0.553150],
    [300000, 46.171205, 38.048726, 34.969125, 36.351624, 39.536450, 43.696600, 48.446795, 53.487147],
])
data.columns = ['digits'] + [f'n = {q}' for q in range(1, 9)]
data

,digits,n = 1,n = 2,n = 3,n = 4,n = 5,n = 6,n = 7,n = 8
0,300,0.000544,0.000478,0.000505,0.000586,0.000615,0.000620,0.004083,0.001147
1,3000,0.008348,0.006484,0.005534,0.005812,0.005594,0.005938,0.006376,0.008077
2,30000,0.585243,0.462652,0.403780,0.405915,0.428871,0.463749,0.508950,0.553150
3,300000,46.171205,38.048726,34.969125,36.351624,39.536450,43.696600,48.446795,53.487147